
body {
    margin: 30px;
    /* background-color: #1e90ff; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    min-width: 350px;
    height: 300px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: #ffffff;
    box-shadow: 9px 9px 23px #666666,
        -9px -9px 23px #ffffff;

}

.time {
    color: red;
    width: 125px;
    height: 125px;
    font-size: 20px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #666666,
        inset -5px -5px 10px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-style: italic;
    padding: 5px;
}

.timeBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
